<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.elasticworks.api.mapper.BoardMapper">
	<resultMap id="BoardResult"	type="Board">
		<result column="idx" property="idx" />
		<result column="title" property="title" />
		<result column="writer" property="writer" />
		<result column="content" property="content" />
		<result column="category" property="category" />
		<result column="view" property="view" />
		<result column="like_cnt" property="likeCnt" />
		<result column="delete_yn" property="deleteYn" />
		<result column="insert_time" property="insertTime" />
		<result column="update_time" property="updateTime" />
		<result column="delete_time" property="deleteTime" />
	</resultMap>
	
	<sql id="BoardColumns">
		idx,
		title,
		writer,
		content,
		category,
		view,
		like_cnt,
		delete_yn,
		insert_time,
		update_time,
		delete_time
	</sql>
	
	<select id="getAllBoardList" resultMap="BoardResult" parameterType="Board">
		SELECT
			idx,
			title,
			writer,
			content,
			category,
			view,
			like_cnt,
			insert_time,
			update_time
		FROM
			board
		WHERE
			delete_yn = 0
		<!-- 검색 키워드가 있을 때 -->
		<if test="searchKeyword != null and searchKeyword != ''">
			<choose>
				<!-- 검색 유형이 있을 때 -->
				<when test="searchType != null and searchType != ''">
					<choose>
						<when test="'title'.equals(searchType)">
							AND title LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<when test="'content'.equals(searchType)">
							AND content LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<when test="'writer'.equals(searchType)">
							AND writer LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
					</choose>
				</when> 
				<!-- 검색 유형이 없을 때 -->
				<otherwise>
					AND (title LIKE CONCAT('%', #{searchKeyword}, '%')
					OR content LIKE CONCAT('%', #{searchKeyword}, '%')
					OR writer LIKE CONCAT('%', #{searchKeyword}, '%'))
				</otherwise>
			</choose>
		</if>
		ORDER BY idx ASC
		LIMIT #{firstBoardIndex}, #{boardsPerPage}
	</select>
	
	<select id="getAllBoardListCnt" resultType="int" parameterType="Board">
		SELECT count(*)
		FROM
			board
		WHERE
			delete_yn = 0
		<!-- 검색 키워드가 있을 때 -->
		<if test="searchKeyword != null and searchKeyword != ''">
			<choose>
				<!-- 검색 유형이 있을 때 -->
				<when test="searchType != null and searchType != ''">
					<choose>
						<when test="'title'.equals(searchType)">
							AND title LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<when test="'content'.equals(searchType)">
							AND content LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<when test="'writer'.equals(searchType)">
							AND writer LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
					</choose>
				</when>
				<!-- 검색 유형이 없을 때 -->
				<otherwise>
					AND (title LIKE CONCAT('%', #{searchKeyword}, '%')
					OR content LIKE CONCAT('%', #{searchKeyword}, '%')
					OR writer LIKE CONCAT('%', #{searchKeyword}, '%'))
				</otherwise>
			</choose>
		</if>
	</select>
	
	<select id="getCategoryBoardList" resultMap="BoardResult" parameterType="Board">
		SELECT
			idx,
			title,
			writer,
			content,
			category,
			view,
			like_cnt,
			insert_time,
			update_time
		FROM
			board
		WHERE
			delete_yn = 0
		<!-- 검색 키워드가 있을 때 -->
		<if test="searchKeyword != null and searchKeyword != ''">
			<choose>
				<!-- 검색 유형이 있을 때 -->
				<when test="searchType != null and searchType != ''">
					<choose>
						<when test="'title'.equals(searchType)">
							AND title LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<when test="'content'.equals(searchType)">
							AND content LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<when test="'writer'.equals(searchType)">
							AND writer LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
					</choose>
				</when> 
				<!-- 검색 유형이 없을 때 -->
				<otherwise>
					AND (title LIKE CONCAT('%', #{searchKeyword}, '%')
					OR content LIKE CONCAT('%', #{searchKeyword}, '%')
					OR writer LIKE CONCAT('%', #{searchKeyword}, '%'))
				</otherwise>
			</choose>
		</if>
		AND
			category = #{category}
		ORDER BY idx ASC
		LIMIT #{firstBoardIndex}, #{boardsPerPage}
	</select>
	
	<select id="getCategoryBoardListCnt" resultType="int" parameterType="Board">
		SELECT count(*)
		FROM
			board
		WHERE
			delete_yn = 0
		<!-- 검색 키워드가 있을 때 -->
		<if test="searchKeyword != null and searchKeyword != ''">
			<choose>
				<!-- 검색 유형이 있을 때 -->
				<when test="searchType != null and searchType != ''">
					<choose>
						<when test="'title'.equals(searchType)">
							AND title LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<when test="'content'.equals(searchType)">
							AND content LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<when test="'writer'.equals(searchType)">
							AND writer LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
					</choose>
				</when>
				<!-- 검색 유형이 없을 때 -->
				<otherwise>
					AND (title LIKE CONCAT('%', #{searchKeyword}, '%')
					OR content LIKE CONCAT('%', #{searchKeyword}, '%')
					OR writer LIKE CONCAT('%', #{searchKeyword}, '%'))
				</otherwise>
			</choose>
		</if>
		AND
			category = #{category}
	</select>
	
	<select id="selectOneBoard" resultMap="BoardResult">
		SELECT
			idx,
			title,
			writer,
			content,
			category,
			view,
			like_cnt,
			insert_time,
			update_time
		FROM
			board
		WHERE
			idx = #{boardIdx}
	</select>
	
	<insert id="insertBoard">
		INSERT INTO
			board (
				title,
				writer,
				content,
				category,
				insert_time
				)
		VALUES (
			#{title},
			#{writer},
			#{content},
			#{category},
			NOW()
			)
	</insert>
	
	<update id="updateBoard" >
		UPDATE
			board
		SET
			title = #{title},
			writer = #{writer},
			content = #{content},
			category = #{category},
			update_time = #{updateTime}
		WHERE
			idx = #{idx}
	</update>
	
	<update id="deleteBoard" >
		UPDATE
			board
		SET
			delete_yn = 1,
			delete_time = now()
		WHERE
			idx = #{idx}
	</update>
	
	<select id="findByIdx" resultMap="BoardResult">
		SELECT
			idx
		FROM
			board
	</select>
</mapper>