<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.elasticworks.api.mapper.PopupMapper">

	<select id="selectAllPopupList" resultType="Popup">
		SELECT 
			idx,
			title, 
			content, 
			start_time, 
			end_time, 
			use_or_not
		FROM 
			popup
	</select>

	<select id="selectOnePopup" parameterType="int" resultType="Popup">
		SELECT 
			idx,
			title, 
			content, 
			start_time, 
			end_time, 
			use_or_not
		FROM 
			popup
		WHERE
			idx=#{idx}
	</select>
	
	<insert id="createPopup" parameterType="Popup">
		INSERT INTO
			popup(
				title,
				content,
				start_time,
				end_time,
				use_or_not
			)
				
		VALUES(
			#{title},
			#{content},
			#{startTime},
			#{endTime},
			#{useOrNot}
		)
	</insert>
	
	<update id="updatePopup" parameterType="Popup">
		UPDATE 
			popup 
		SET
			title=#{title},
			content=#{content},
			start_time=#{startTime},
			end_time=#{endTime},
			use_or_not=#{useOrNot}
		WHERE
			idx=#{idx}
	</update>
	
	<delete id="deletePopup">
		DELETE FROM
			popup
		WHERE
			idx=#{idx}
	</delete>
	
</mapper>
