<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.elasticworks.api.mapper.UserMapper">
	<resultMap id="UserResult" type="UserVO">
		<result column="user_no" property="userNo" />
		<result column="user_id" property="userId" />
		<result column="user_pwd" property="userPwd" />
		<result column="user_real_name" property="userName" />
		<result column="user_nick_name" property="userNickName" />
		<result column="user_hp" property="userHp" />
		<result column="user_email1" property="userEmail1" />
		<result column="user_email2" property="userEmail2" />
		<result column="user_address1" property="userAddress1" />
		<result column="user_address2" property="userAddress2" />
		<result column="role_name" property="roleName" />
	</resultMap>
	
	<!-- <sql id="UserColumns">
		user_id,
		user_pwd,
		user_real_name,
		user_nick_name,
		user_hp,
		user_email1,
		user_email2,
		user_address1,
		user_address2,
		user_role
	</sql> -->
                                                                                              
	<select id="selectOneUser" resultMap="UserResult">
		SELECT user_no, user_id, user_pwd, user_real_name, user_nick_name, user_hp, user_email1, user_email2, user_address1, user_address2, role_name
		FROM user
		WHERE user_id = #{userId}
	</select>

	<insert id="insertUser">
		<selectKey resultType="int" keyProperty="userNo" order="AFTER">
             SELECT LAST_INSERT_ID()
        </selectKey>
		INSERT INTO user (user_no, user_id, user_pwd, user_real_name, user_nick_name, user_hp, user_email1, user_email2, user_address1, user_address2, role_name)
		VALUES (#{userNo}, #{userId}, #{userPwd}, #{userRealName}, #{userNickName}, #{userHp}, #{userEmail1}, #{userEmail2}, #{userAddress1}, #{userAddress2}, #{roleName})
	</insert>

	<update id="updateUser">
		UPDATE user
		SET user_pwd = #{userPwd}, user_nick_name = #{userNickName}, user_hp = #{userHp}, user_email1 = #{userEmail1}, user_email2 = #{userEmail2}, user_address1 = #{userAddress1}, user_address2 = #{userAddress2}, role_name = #{roleName}
		WHERE user_id = #{userId}
	</update>

	<select id="findByUserId" resultType="UserVO">
		SELECT
			u.user_no AS userNo,
			u.user_id AS userId,
			u.user_pwd AS userPwd,
			u.user_real_name AS userRealName,
			r.role_name AS roleName
		FROM user AS u
		  INNER JOIN user_role AS ur
		  ON u.user_no = ur.user_no
		  INNER JOIN role AS r 
		  ON r.role_no = ur.role_no
		WHERE
			u.user_id = #{userId}
    </select> 
	
	<insert id="userRoleSave">
		INSERT INTO user_role
        (
            user_no,
            role_no
        )
        VALUES
        (
            #{userNo},
            #{roleNo}
        )
	</insert>
	
	<select id="findUserNo" resultType="Integer">
		SELECT 
			user_no
		FROM user
		WHERE user_id = #{userId}
	</select>
	
	<select id="findRoleNo" resultType="Integer">
		SELECT 
			role_no
		FROM role
		WHERE role_name = #{roleName}
	</select>
	
	<select id="findByUserPwd" resultType="string">
		SELECT 
			user_pwd
		FROM user
		WHERE user_id = #{userId}
	</select>
	
	<!-- "select u from User u left join fetch u.roles r where u.username=:username" -->
	<select id="findByUserName" resultType="string">
		SELECT 
			u
		FROM user u
		  LEFT JOIN FETCH u.roleName r
		WHERE u.user_id=:username
	</select>
	
	
</mapper>